<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oliveoa.dao.AnnouncementMapper" >
  <resultMap id="BaseResultMap" type="com.oliveoa.pojo.Announcement" >
    <constructor >
      <idArg column="aid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="eid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="content" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="signature" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="publishtime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="isApproved" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="orderBy" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="createtime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="updatetime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    aid, eid, title, content, signature, publishtime, isApproved, orderBy, createtime, 
    updatetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_announcement
    where aid = #{aid,jdbcType=VARCHAR}
  </select>
  <select id="selectByApprovedEid" resultType="com.oliveoa.pojo.Announcement" parameterType="string">
    SELECT
    <include refid="Base_Column_List" />
    from tb_announcement
    WHERE aid IN (SELECT aid FROM tb_announcement_approved_opinion WHERE eid = #{eid,jdbcType=VARCHAR} and isApproved = 0)
    order by orderBy desc
  </select>
  <select id="selectByEid" resultType="com.oliveoa.pojo.Announcement" parameterType="string">
    SELECT
    <include refid="Base_Column_List" />
    from tb_announcement
    WHERE eid = #{eid,jdbcType=VARCHAR}
    order by orderBy desc
  </select>
  <select id="selectPublished" resultType="com.oliveoa.pojo.Announcement" >
    SELECT
    <include refid="Base_Column_List" />
    from tb_announcement
    WHERE publishtime &lt;= now() and isApproved = 1
    ORDER  BY publishtime DESC
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_announcement
    where aid = #{aid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.oliveoa.pojo.Announcement" >
    insert into tb_announcement (aid, eid, title, 
      content, signature, publishtime, 
      isApproved, orderBy, createtime, 
      updatetime)
    values (#{aid,jdbcType=VARCHAR}, #{eid,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{signature,jdbcType=VARCHAR}, #{publishtime,jdbcType=TIMESTAMP}, 
      #{isapproved,jdbcType=INTEGER}, #{orderby,jdbcType=INTEGER}, now(),
      now()
  </insert>
  <insert id="insertSelective" parameterType="com.oliveoa.pojo.Announcement" >
    insert into tb_announcement
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aid != null" >
        aid,
      </if>
      <if test="eid != null" >
        eid,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="signature != null" >
        signature,
      </if>
      <if test="publishtime != null" >
        publishtime,
      </if>
      <if test="isapproved != null" >
        isApproved,
      </if>
      <if test="orderby != null" >
        orderBy,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aid != null" >
        #{aid,jdbcType=VARCHAR},
      </if>
      <if test="eid != null" >
        #{eid,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="signature != null" >
        #{signature,jdbcType=VARCHAR},
      </if>
      <if test="publishtime != null" >
        #{publishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isapproved != null" >
        #{isapproved,jdbcType=INTEGER},
      </if>
      <if test="orderby != null" >
        #{orderby,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        now(),
      </if>
      <if test="updatetime != null" >
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.oliveoa.pojo.Announcement" >
    update tb_announcement
    <set >
      <if test="eid != null" >
        eid = #{eid,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="signature != null" >
        signature = #{signature,jdbcType=VARCHAR},
      </if>
      <if test="publishtime != null" >
        publishtime = #{publishtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isapproved != null" >
        isApproved = #{isapproved,jdbcType=INTEGER},
      </if>
      <if test="orderby != null" >
        orderBy = #{orderby,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = now(),
      </if>
    </set>
    where aid = #{aid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oliveoa.pojo.Announcement" >
    update tb_announcement
    set eid = #{eid,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      signature = #{signature,jdbcType=VARCHAR},
      publishtime = #{publishtime,jdbcType=TIMESTAMP},
      isApproved = #{isapproved,jdbcType=INTEGER},
      orderBy = #{orderby,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = now()
    where aid = #{aid,jdbcType=VARCHAR}
  </update>
  <update id="updateisApprovedByAid">
    UPDATE tb_announcement
    SET isApproved = #{isApproved,jdbcType=INTEGER}
    where aid = #{aid,jdbcType=VARCHAR}
  </update>
</mapper>