<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oliveoa.dao.MessageFileMapper" >
  <resultMap id="BaseResultMap" type="com.oliveoa.pojo.MessageFile" >
    <constructor >
      <idArg column="mfid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="mid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="fid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="orderBy" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="createtime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="updatetime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    mfid, mid, fid, orderBy, createtime, updatetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_message_file
    where mfid = #{mfid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_message_file
    where mfid = #{mfid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.oliveoa.pojo.MessageFile" >
    insert into tb_message_file (mfid, mid, fid, 
      orderBy, createtime, updatetime
      )
    values (#{mfid,jdbcType=VARCHAR}, #{mid,jdbcType=VARCHAR}, #{fid,jdbcType=VARCHAR}, 
      #{orderby,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.oliveoa.pojo.MessageFile" >
    insert into tb_message_file
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mfid != null" >
        mfid,
      </if>
      <if test="mid != null" >
        mid,
      </if>
      <if test="fid != null" >
        fid,
      </if>
      <if test="orderby != null" >
        orderBy,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mfid != null" >
        #{mfid,jdbcType=VARCHAR},
      </if>
      <if test="mid != null" >
        #{mid,jdbcType=VARCHAR},
      </if>
      <if test="fid != null" >
        #{fid,jdbcType=VARCHAR},
      </if>
      <if test="orderby != null" >
        #{orderby,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.oliveoa.pojo.MessageFile" >
    update tb_message_file
    <set >
      <if test="mid != null" >
        mid = #{mid,jdbcType=VARCHAR},
      </if>
      <if test="fid != null" >
        fid = #{fid,jdbcType=VARCHAR},
      </if>
      <if test="orderby != null" >
        orderBy = #{orderby,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where mfid = #{mfid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oliveoa.pojo.MessageFile" >
    update tb_message_file
    set mid = #{mid,jdbcType=VARCHAR},
      fid = #{fid,jdbcType=VARCHAR},
      orderBy = #{orderby,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where mfid = #{mfid,jdbcType=VARCHAR}
  </update>
</mapper>